{{yield}}
<!--<button {{action "toggleBody"}}>test</button>-->
<!--<form class="wish-form">

&lt;!&ndash;	<input value="" type="text" placeholder="Ваше имя"/>
	<div><input name="gender" value={{val.gender}} type="radio"/>Мальчик</div>
	<div><input name="gender" value={{val.gender}} type="radio"/>Девочка</div>
	<div><input name="gender" value={{val.gender}} type="radio"/>Я не знаю</div>&ndash;&gt;
	<button {{action "toggleBody" 'test'}}>Отправить</button>
</form>-->
<div>
	{{input value=name}}
	{{input type="radio" name="gender" change=(action (mut gender) 'male')  value='male'}}
	{{input type="radio" name="gender" change=(action (mut gender) 'female')  value='female'}}
	<input type="button" id ="add-button" value="Add" {{action 'add' name}}/>
</div>